.banner__content-wrapper {
  padding: 71px 0 0;
}


.banner__title {
  margin-bottom: 125px;
  font-size: 27px;
  line-height: 30px;

  text-align: center;
}

.banner-nav__text {

  font-weight: bold;
}
