.banner {
  background-color: #f9f9f9;
}

.banner__content-wrapper {
  padding: 71px 0 0;
}


.banner__title {
  margin-bottom: 125px;
  font-size: 27px;
  line-height: 30px;

  text-align: center;
}


@media (min-width: $tablet) {
  .banner__title {
    margin-bottom: 370px;

    font-size: 43px;
    line-height: 50px;
  }

  .banner__content-wrapper {
    padding: 71px 50px 0;
  }

}

@media (min-width: $desktop) {
 
  .banner__content-wrapper {

    padding: 150px 0 0;

  }

  .banner__title {
    font-size: 53px;
    line-height: 57px;
  }


}

