.banner-nav {
  display: flex;
  flex-direction: column;
}

.banner-nav__item {
  padding: 0;
}

.banner-nav__link {
  position: relative;
  display: block;
  padding: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:hover {
    transform: translateY(-5px);

    &::before {
      bottom: -5px;
      height: 5px;
      width: 100%;
    }

  }

  &--interior {
    background-color: $aqua-light;

    &::before {
      background-color: $aqua-light;
    }
  }

  &--toys {
    background-color: $aqua-dark;

    &::before {
      background-color: $aqua-dark;
    }
  }
}

.banner-nav__text {
  display: block;
  max-width: 130px;

  color: $white;
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: $tablet) {
  .banner-nav {
    flex-direction: row;
    justify-content: center;

  }

  .banner-nav__item {
    width: 50%;
  }

  .banner-nav__link {
    padding: 34px 150px 34px 34px;
  }

}

@media (min-width: $desktop) {
  .banner-nav {
    margin: 0 auto;
    width: 1050px;
  }

}
