.contacts__contacts-wrapper {

  padding: 0;
}

.contacts__info {
  display: block;
  margin: 0 auto;

  max-width: 320px;


  color: $grey-dark;
  font-size: 15px;
  line-height: 30px;
}


.contacts__type {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 35px;
  padding: 0;
  width: 48px;

}

.contacts__adress {
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  padding: 0;
  width: 182px;

}

.contacts__email {
  padding-bottom: 4px;
  border-bottom: 1px solid $aqua-form;

  &:hover {
    color: $aqua-dark--hover;
    border-color: $aqua-dark--hover;
  }

  &:active {
    color: rgba($aqua-dark--hover, 0.3);
    border-color: rgba($aqua-dark--hover, 0.3);
  }
}

.contacts__write-us {
  margin: 40px auto;
}

@media (min-width: $tablet) {
  .contacts__info {
    display: flex;
    justify-content: space-between;
    max-width: 668px;
  }

  .contacts__type {
    width: 60px;
  }
  .contacts__adress {
    margin: 0;
    width: 260px;
  }

  .contacts__write-us {
    margin: 50px auto;
  }

}

