.order {
  margin-bottom: 56px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.order__description {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $grey-dark;
}

.order__fieldset {
  position: relative;

  margin: 0 auto;
  padding: 20px 30px;
  border: 0;
}

.order__legend {
  display: block;

  width: 100%;
  line-height: 16px;
  color: $aqua-light;
  text-transform: uppercase;
}

.order__legend-text {
  display: flex;
  align-items: center;


  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;

    background-color: $aqua-light;
  }
}

.order__content-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
}

.order__lable {
  position: relative;
  display: block;

  padding: 25px 25px 25px 60px;
  min-width: 260px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);


    width: 40px;
    height: 40px;
    border: 2px solid $grey-dark;

  }

  &:hover::before {
    border-color: $aqua-form;
  }

  &:active::before {
    border-color: rgba($grey-dark, 0.3);
  }
}

.order__lable--radio {
  position: relative;

  &::before {
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    display: none;

    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    border-radius: 50%;

    background-color: $aqua-form;
  }
}

.order__lable--checkbox {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    display: none;

    left: 10px;
    top: 27px;

    width: 22px;
    height: 16px;

    background-image: url(../../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-size: 22px, 16px;
  }
}

.order__input--radio:checked+.order__lable--radio::after,
.order__input--checkbox:checked+.order__lable--checkbox::after {
  display: block;
}


.order__lable--text {
  padding: 0 10px 0 0;

  &::before {
    display: none;
  }
}

.order__text {

  padding: 15px 0;
  width: 100%;
  max-width: 360px;
  //----------------------------
  height: 50px;

  border: none;
  border-bottom: 2px solid $black;

  font-size: 17px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: $grey-dark;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    outline: none;
    border-bottom: 2px solid $aqua-form;
  }
}

.order__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  //----------------------------
}

.order__message {
  display: block;

  padding: 15px;
  width: 100%;
  min-height: 143px;
  border: 2px solid $black;
  resize: vertical;

  &::placeholder {
    color: $grey-dark;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $aqua-form;
  }
}

.order__notification {
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  color: $grey-dark;
}

.order__button {
  line-height: 16px;
}






@media (min-width: $tablet) {

  .order__description {

    font-size: 17px;
    line-height: 30px;
  }

  .order__block-wrapper {
    background-color: $grey-background;
  }

  .order__fieldset {
    padding: 40px 50px;

    &--phone {
      padding-bottom: 0;
    }

    &--email {
      padding-top: 25px;
    }
  }

  .order__legend {
    position: absolute;
    top: 70px;
    width: 100px;

    &--email {
      top: 60px
    }
  }

  .order__legend-text {

    &::after {
      display: none;
    }
  }

  .order__content-wrapper {
    max-width: 990px;

    padding-left: 167px;
  }

  .order__lable {
    min-width: 240px;
    padding: 32px 25px 32px 60px;

    font-size: 19px;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      width: 21px;
      height: 21px;
    }
  }

  .order__lable--radio {
    min-width: 420px;

    &::after {
      left: 16px;

      width: 20px;
      height: 20px;
    }
  }

  .order__lable--checkbox {
    &::after {
      top: 29px;

      width: 33px;
      height: 23px;

      background-size: 33px, 23px;
    }

  }

  .order__input-wrapper {
    flex-direction: row;
    align-items: center;

    margin: 10px 0;
    padding-bottom: 10px;
    max-width: none;
  }

  .order__lable--text {
    display: block;
    margin-right: 23px;
    padding: 0;
    min-width: 53px;

    font-size: 19px;
  }

  .order__text {
    flex-grow: 1;

    padding: 20px 13px;
    max-width: none;

    &--phone,
    &--email {
      margin: 10px 0;
      background-color: transparent;
    }
  }

  .order__form-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .order__notification {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    margin: 0;

  }

}

@media (min-width: $desktop) {
  .order__description {
    padding: 0;
    margin: 0 auto;
    width: 700px;
  }

  .order__fieldset {
    padding: 60px 50px;
  }

  .order__legend {
    top: 93px;
    left: 113px;

    &--message {
      top: 79px;
    }
  }

  .order__content-wrapper {
    padding: 0;
    max-width: 700px;

    &--checkbox {
      justify-content: space-between;
      padding-left: 75px;
      max-width: 850px;

    }
  }

  .order__lable {
    min-width: 240px;
    padding: 32px 25px 32px 80px;

    &--radio {
      min-width: 360px;
    }

    &--text {
      padding: 0;
      min-width: 53px;
    }


  }

  .order__form-footer {
    width: 800px;
  }
}
