.page-footer {
  background-color: $gray-background;
}

.page-footer__wrapper {
  padding-top: 20px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e5e5e5;

}

.page-footer__developed-by {
  padding: 0 0 30px 40px;

  font-size: 19px;
  line-height: 18px;
}


@media (min-width: $tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding: 50px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    border: none;
  }
}

@media (min-width: $desktop) {

  .page-footer__wrapper {
    width: 1250px;
    margin: 0 auto;
    padding:  50px 100px;
  }

}
