.site-nav__item {
  border-bottom: 1px solid $grey-light;

  &:first-child {
    border-top: 1px solid $grey-light;
  }
}


.site-nav__link {
  display: block;
  padding: 30px 30px 30px 75px;
}

@media (min-width: $tablet) {
  .site-nav__link {
    padding: 20px 32px 20px 50px;
  }

  .site-nav__item {
    border: none;

    &:first-child {
      border: none;
    }
  }
}

@media (min-width: $desktop) {

  .site-nav__item {
    border-bottom: none;

    &:not(:first-child) {
      margin-left: 0;
      padding-left: 0;
      border-left: 1px solid $grey-light;
    }
  }

  .site-nav__link {
    padding: 32px 35px 32px 35px;

    &:first-child {
      padding-left: 50px;
    }
  }
}
