.social-list {
  display: flex;
  justify-content: center;

}

.social-list__item {
  margin: 0 5px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--instagram {
    background-image: url(../../img/icon-insta.svg);
  }

  &--facebook {
    background-image: url(../../img/icon-fb.svg);
  }

  &--twitter {
    background-image: url(../../img/icon-twitter.svg);
  }



}

.social-list__link {
  padding: 20px 20px;

}
