@media (min-width: $desktop) {
  .stock-nav {
    position: absolute;

    left: 50px;
    top: 107px;



  }

  // .stock-nav__item {
  //     // margin-left: 0;
  // //     padding-left: 0;
  // }

  .stock-nav__link {
    padding: 15px 28px;

    &:first-child {
      padding-left: 50px;
    }


  }

}
