@media (min-width: $desktop) {
  .stock-nav {

    display: flex;
    align-items: center;

    padding: 0 50px;

    font-size: 15px;
  }



  .stock-nav__link {
    padding: 15px 28px;

    &:first-child {
      padding-left: 50px;
    }


  }

}
