.user-nav__link {
  display: block;
  padding: 30px 30px 30px 75px;
  border-bottom: 1px solid $grey-light;
}

@media (min-width: $tablet) {
  .user-nav__link {
    padding: 30px 50px 30px 30px;
    border: none;
  }


}
