$white: #ffffff;
$black: #000000;
$aqua-light: #63d1bb;
$aqua-light--hover: #59d5bc;
$aqua-dark: #56c3b2;
$aqua-dark--hover: #46c1ae;
$aqua-form: #62d1ba;
$grey-dark: #444444;
$grey-light: #ececec;
$gray-background: #f1f1f1;





