$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-only-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet: ~"(min-width: ${tablet-width})";
$desktop: ~"(min-width: ${tablet-width})";


$white: #ffffff;
$black: #000000;
$aqua-light: #63d1bb;
$aqua-light--hover: #59d5bc;
$aqua-dark: #56c3b2;
$aqua-dark--hover: #46c1ae;
$aqua-form: #62d1ba;
$grey-dark: #444444;
$grey-light: #ececec;
$grey-background: #f1f1f1;





