.banner-nav {
  display: flex;
  flex-wrap: wrap;
}

.banner-nav__item {
  flex-grow: 1;
  width: 320px;
}

.banner-nav__link {
  position: relative;
  display: block;
  padding: 28px 30px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover {
    transform: translateY(-5px);

    &::before {
      bottom: -5px;
      height: 5px;
      width: 100%;
    }
  }

  &--interior {
    background-color: $aqua-light;

    &::before {
      background-color: $aqua-light--hover;
    }

    &::after {
      width: 40px;
      height: 62px;

      right: 35px;
      background-image: url(../img/interior.svg);
      opacity: 0.2;
    }

    &:hover {
      background-color: $aqua-light--hover;

      &::after {
        opacity: 0.3;
      }
    }
    &:active .banner-nav__text {
      color: rgba( 255, 255, 255, 0.3);
    }
  }


  &--toys {
    background-color: $aqua-dark;

    &::before {
      background-color: $aqua-dark--hover;
    }

    &::after {
      width: 62px;
      height: 62px;

      right: 27px;
      background-image: url(../img/toy.svg);
      opacity: 0.2;
    }

    &:hover {
      background-color: $aqua-dark--hover;

      &::after {
        opacity: 0.3;
      }
    }

    &:active .banner-nav__text {
      color: rgba( 255, 255, 255, 0.3);
    }
  }
}

.banner-nav__text {
  display: block;
  max-width: 130px;

  color: $white;
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: $tablet) {
  .banner-nav {
    flex-direction: row;
    justify-content: center;
  }

  .banner-nav__item {
    width: 50%;
  }

  .banner-nav__link {
    padding: 28px 150px 28px 34px;
  }

  .banner-nav__text {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $desktop) {
  .banner-nav {
    margin: 0 auto 65px;
    width: 1050px;
    }
}
