.catalog-item {
  width: 260px;

  &:hover .catalog-item__wrapper {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }

  &:active .catalog-item__wrapper {
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
  }
}

.catalog-item__image {
  display: block;
}

.catalog-item__wrapper {
  border: 1px solid $grey-light;
  padding: 0 27px 30px;
  transition: $transition;
}

.catalog-item__title {
  margin: 0;
  padding: 25px 0 10px;
  font-size: 17px;
  line-height: 24px;
}

.catalog-item__link {
  transition: $transition;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.catalog-item__size {
  margin: 0;
  padding-bottom: 18px;
  font-size: 13px;
  color: $grey-dark;
}

.catalog-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $grey-light;
  padding-top: 22px;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
}

.catalog-item__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transition: $transition;

  &:hover .catalog-item__icon,
  &:focus .catalog-item__icon {
    fill: $aqua-light;
    opacity: 1;
  }

  &:active .catalog-item__icon {
    opacity: 0.3;
  }
}

.catalog-item__icon {
  opacity: 0.2;
}

@media (min-width: $tablet) {
  .catalog-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    width: 668px;
  }

  .catalog-item__title {
    font-size: 20px;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: auto;
  }

  .catalog-item__size {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    width: 316px;
  }

  .catalog-item__image {
    width: 315px;
    height: 460px;
  }

  .catalog-item__wrapper {
    flex-grow: 1;
    width: 315px;
    min-height: 197px;
  }
}
