.catalog__list {
  display: grid;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__item {
  margin: 0 auto 30px;
}

@media (min-width: $tablet) {
  .catalog__list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: $desktop) {
  .catalog__list {
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .catalog__item {
    margin: 0 0 57px;
  }
}
