.contacts__contacts-wrapper {
  padding-bottom: 40px;
}

.contacts__info {
  display: block;
  margin: 0 auto;

  max-width: 320px;


  color: $grey-dark;
  font-size: 15px;
  line-height: 30px;
}


.contacts__type {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 35px;
  padding: 0;
  width: 48px;

}

.contacts__adress {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  padding: 0;
  width: 182px;

}

.contacts__map {
  width: 100%;
}


.contacts__email {
  padding-bottom: 4px;
  border-bottom: 1px solid $aqua-form;

  &:hover,
  &:focus {
    color: $aqua-dark--hover;
    border-color: $aqua-dark--hover;
  }

  &:active {
    color: rgba($aqua-dark--hover, 0.3);
    border-color: rgba($aqua-dark--hover, 0.3);
  }
}


.contacts__write-us {
  margin: 40px auto;
  max-width: 260px;
}

@media (min-width: $tablet) {
  .contacts {
    padding-top: 30px;
  }

  .contacts__title {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 82px;

      top: -18px;
      right: 0;

      background-image: url(../img/flag.svg);
      background-size: 46px, 81px;
      background-repeat: no-repeat;
    }
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;
    max-width: 668px;

    font-size: 17px;
  }

  .contacts__type {
    width: 60px;
  }

  .contacts__adress {
    margin: 0;
    width: 260px;
  }



  .contacts__write-us {
    margin: 50px auto;
    max-width: 230px;
  }
}

@media (min-width: $desktop) {

  .contacts {
    position: relative;

    margin: 0 auto;
    padding: 20px 100px 105px 225px;


    max-width: 1250px;
  }

  .contacts__contacts-wrapper {
    padding: 0;
  }

  .contacts__title {

    &::after {

      top: -18px;
      left: -110px;
    }
  }

  .contacts__info {
    display: block;
    margin: 0 0 85px 0;

    max-width: 300px;
  }

  .contacts__adress {
    width: 225px;
  }


  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;
    width: 525px;
  }
  .contacts__button-wrapper {
    padding: 0;
  }

  .contacts__write-us {
    margin: 0;
    width: 230px;
  }
}
