.main-nav {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;

  font-size: 17px;
  font-weight: 700;

  & a {

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $white;
}

.main-nav__link-logo {
  display: block;

  margin: 14px auto;
  width: 89px;
}

.main-nav__toggle {
  position: absolute;
  display: block;

  right: 30px;
  top: 50%;

  transform: translateY(-50%);

  display: block;
  width: 23px;
  height: 23px;

  background-color: transparent;
  border: none;

  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__toggle {
  background-image: url(../img/menu-open.svg);
}

.main-nav--opened .main-nav__toggle {
  background-image: url(../img/menu-close.svg);
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav__stock-list {
  display: none;
}

.main-nav__text {
  display: none;
}


@media (max-width: $mobile-only) {
  .main-nav--closed .site-nav__item {
    display: none;
  }

  .main-nav--closed .user-nav__item {
    display: none;
    }
}

@media (min-width: $tablet) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__logo-wrapper {
    justify-content: start;
    flex-grow: 1;
    min-width: 300px;
    padding: 12px 120px 0 50px;
  }

  .main-nav__link-logo {
    margin: 0;
    padding: 8px 20px 20px 0;
    width: 111px;
    height: 48px;
  }

  .main-nav__image-logo {
    width: 113px;
    height: 48px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    padding-left: 50px;
    display: flex;
    flex-grow: 1;
    order: 1;
  }

  .main-nav__user-list {
    display: flex;
    align-items: center;


    padding-left: 50px;
    background-color: $white;
  }

  .main-nav__text {
    display: block;
    order: 2;

    margin: 0;
    padding: 16px 50px 20px 20px;

    min-width: 250px;

    border-top: 1px solid #e7e7e7;

    color: $grey-dark;
    font-size: 15px;
    font-weight: 400;
  }
}


@media (min-width: $desktop) {
  .main-nav {
    position: relative;
  }

  .main-nav__logo-wrapper {
    order: 1;
    flex-grow: 1;
    padding: 0;

    min-width: 180px;
  }

  .main-nav__link-logo {
    margin: 0 auto;
    padding: 5px 0;

    width: 150px;
    height: 72px;
  }

  .main-nav__image-logo {
    width: 150px;
    height: 72px;
  }

  .main-nav__site-list {
    position: relative;
    order: 0;
    flex-grow: 1;

    border-top: none;

    font-size: 17px;
    background-color: $white;

    &::before {
      right: 480px;
    }
  }

  .main-nav__user-list {
    position: relative;
    order: 2;
    flex-grow: 1;

    padding-left: 80px;

    font-size: 17px;

    &::after {
      left: 480px;
    }
  }

  .main-nav__site-list::before,
  .main-nav__user-list::after {
    position: absolute;
    content: "";
    top: 0;
    width: calc(50vw - 400px);
    height: 100%;
    background-color: $white;
  }

  .main-nav__stock-list {
    order: 3;
    flex-grow: 1;

    border-top: 1px solid $grey-light;
  }

  .main-nav__text {
    order: 4;
    flex-grow: 1;
    padding-top: 17px;

    text-align: right;

    border-top: 1px solid $grey-light;

    background-color: transparent;
  }
}
