.map {
  position: relative;
  width: 100%;
}

.map__interactive {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@media (min-width: $desktop) {
  .map {
    position: absolute;
    right: 50px;
    top: 0;
    width: 525px;
  }
}
