.map {
  position: relative;
  width: 100%;
}

.map__interactive {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%
}


@media (min-width: $desktop) {
  .map {
    position: absolute;
    width: 525px;
    top: 0;
    right: 50px;

  }

}
