.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);

  &--opened {
    display: flex;
    justify-content: center;
  }
}

.modal__window {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  padding: 35px 30px 45px;
  width: 320px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: $white;
  transform: translate(-50%, -50%);
}

.modal__title {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal__fieldset {
  border: none;
  padding: 0;
}

.modal__legend {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $grey-dark;
}

.modal__size-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  max-width: 320px;
}

.modal__label {
  border: 2px solid $grey-light;
  padding: 15px 10px;
  width: 81px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $grey-dark;

  &:hover {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $aqua-form;
  }
}

.modal__input:checked + .modal__label {
  border-color: $aqua-form;
}

.modal__button {
  border: none;
  color: $white;
  background-color: $aqua-light;

  &:hover,
  &:focus {
    background-color: $aqua-dark;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet) {
  .modal__window {
    padding: 45px 106px;
    width: 570px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__legend {
    font-size: 17px;
  }

  .modal__size-wrapper {
    max-width: 350px;
  }

  .modal__label {
    width: 110px;
  }

  .modal__button {
    max-width: 350px;
  }
}
