.order {
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.order__description {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $grey-dark;
}

.order__fieldset {
  position: relative;

  margin: 0 auto;
  padding: 0 30px;
  border: 0;

  &--phone,
  &--email {
    padding-top: 14px;
    padding-bottom: 8px;
  }
}

.order__legend {
  display: block;

  width: 100%;
  line-height: 16px;
  color: $aqua-light;
  text-transform: uppercase;
}

.order__legend-text {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;

    background-color: $aqua-light;
  }
}

.order__content-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;

  &--radio {
    margin-bottom: 35px;
    padding-top: 5px;
  }
  &--checkbox {
    margin-bottom: 30px;
    padding-top: 6px;
  }
  &--name {
    margin-bottom: 30px;
    padding-top: 28px;
  }
  &--message {
    margin-bottom: 19px;
    padding-top: 24px;
  }
}

.order__lable {
  position: relative;
  display: block;
  min-width: 260px;

  &--radio {
    padding: 19px 25px 14px 60px;
  }

  &--checkbox {
    padding: 23px 25px 19px 60px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);


    width: 40px;
    height: 40px;
    border: 2px solid $grey-dark;

  }

  &:hover::before {
    border-color: $aqua-form;
  }


  &:active::before {
    border-color: rgba($grey-dark, 0.3);
  }
}


.order__lable--radio {
  position: relative;

  &::before {
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    display: none;

    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    border-radius: 50%;

    background-color: $aqua-form;
  }
}

.order__lable--checkbox {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    display: none;

    left: 10px;
    top: 23px;

    width: 22px;
    height: 16px;

    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-size: 22px, 16px;
  }
}

.order__input--radio:checked+.order__lable--radio::after,
.order__input--checkbox:checked+.order__lable--checkbox::after {
  display: block;
}
.order__input--radio:focus+.order__lable--radio::before,
.order__input--checkbox:focus+.order__lable--checkbox::before {
  border-color: $aqua-form;
}

.order__lable--text {
  padding: 0 10px 0 0;

  &::before {
    display: none;
  }
}

.order__text {
  padding: 15px 45px 0 0;
  width: 100%;
  max-width: 360px;

  height: 50px;

  border: none;
  border-bottom: 2px solid $black;

  font-size: 17px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: $grey-dark;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    outline: none;
    border-bottom: 2px solid $aqua-form;
  }

  &:hover+.order__input-icon,
  &:focus+.order__input-icon {
    fill: $aqua-light;
    opacity: 1;
  }
}

.order__input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  max-width: 360px;

  &:not(:last-child) {
    padding-bottom: 22px;
  }
}

.order__input-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.2;
}

.order__message {
  display: block;

  padding: 15px;
  width: 100%;
  min-height: 143px;
  border: 2px solid $black;
  resize: vertical;

  &::placeholder {
    color: $grey-dark;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $aqua-form;
  }
}

.order__notification {
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  color: $grey-dark;
}

.order__button {
  line-height: 16px;
}

@media (min-width: $tablet) {
  .order {
    margin-bottom: 50px;
  }

  .order__description {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__block-wrapper {
    background-color: $grey-background;
  }

  .order__fieldset {
    padding: 40px 50px;

    &--phone {
      padding-top: 48px;
      padding-bottom: 0;
    }

    &--email {
      padding-top: 5px;
    }
  }

  .order__legend {
    position: absolute;
    top: 62px;
    width: 100px;

    &--tel {
      top: 77px;
    }

    &--email {
      top: 23px;
    }
  }

  .order__legend-text {
    &::after {
      display: none;
    }
  }

  .order__content-wrapper {
    margin-bottom: 0;
    padding-top: 0;
    max-width: 990px;

    padding-left: 167px;

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 13px;
    }

    &--name {
      padding-top: 13px;
    }
  }

  .order__lable {
    min-width: 250px;
    padding: 27px 25px 30px 80px;

    font-size: 19px;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      width: 21px;
      height: 21px;
    }
  }

  .order__lable--radio {
    min-width: 420px;

    &::after {
      left: 16px;

      width: 20px;
      height: 20px;
    }
  }

  .order__lable--checkbox {
    &::after {
      top: 29px;

      width: 33px;
      height: 23px;

      background-size: 33px, 23px;
    }
  }

  .order__input-wrapper {
    flex-direction: row;
    align-items: center;
    max-width: none;

    &:not(:last-child) {
      padding-bottom: 26px;
    }
  }

  .order__lable--text {
    display: block;
    margin-right: 36px;
    padding: 0;
    min-width: 53px;

    font-size: 19px;
  }

  .order__text {
    flex-grow: 1;

    padding: 20px 60px 20px 20px;
    max-width: none;

    &--phone,
    &--email {
      margin: 10px 0;
      background-color: transparent;
    }
  }

  .order__input-icon {
    top: 20px;
    right: 25px;
  }

  .order__form-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .order__notification {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    margin: 0;
    width: auto;
    min-width: 230px;
  }
}

@media (min-width: $desktop) {
  .order__description {
    padding: 0;
    margin: 0 auto;
    width: 700px;
  }

  .order__fieldset {
    padding: 33px 50px;

    &--phone {
      padding: 37px 50px 0 50px;
    }

    &--email {
      padding: 0 50px 20px 50px;
    }
  }

  .order__legend {
    top: 67px;
    left: 113px;

    &--tel {
      top: 63px;
    }

    &--email {
      top: 27px;
    }

    &--message {
      top: 79px;
    }
  }

  .order__content-wrapper {
    padding: 0;
    max-width: 700px;

    &--checkbox {
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 75px;
      max-width: 850px;
    }

    &--name {
      padding: 19px 0;
    }

    &--message {
      padding: 23px 0;
    }
  }

  .order__lable {
    min-width: 240px;
    padding: 31px 25px 32px 80px;

    &--radio {
      min-width: 360px;
    }

    &--text {
      padding: 0;
      min-width: 53px;
    }
  }

  .order__input-icon {
    right: 0;
  }

  .order__form-footer {
    width: 800px;
  }
}
