.page-footer {
  background-color: $grey-background;
}

.page-footer__wrapper {
  padding: 20px 30px;
}

.page-footer__link-logo {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.page-footer__developed-by {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__developed-by-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .page-footer__developed-by-icon {
    fill: $aqua-dark--hover;
  }

  &:active .page-footer__developed-by-text {
    opacity: 0.3;
  }

  &:active .page-footer__developed-by-icon {
    opacity: 0.3;
  }
}

.page-footer__developed-by-icon {
  margin-left: 28px;
  fill: $aqua-light;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 50px 50px;
  }

  .page-footer__link-logo {
    display: block;
    margin-right: 87px;

    &:hover .page-footer__icon-logo {
      fill: $aqua-light;
    }

    &:active .page-footer__icon-logo {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    border: none;
    padding-bottom: 0;
  }

  .page-footer__developed-by {
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    margin: 0 auto;
    padding: 50px;
    max-width: 1150px;
  }
}
