.production {
  position: relative;
  margin-bottom: 57px;
  border: 1px solid $grey-light;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.3);

  }
}

.production__title {
  position: relative;

  margin: 0;
  padding: 20px 20px 20px 90px;

  &::before {
    position: absolute;
    content: "";

    top: 50%;
    left: 33px;

    transform: translateY(-50%);

    width: 33px;
    height: 24px;

    background-image: url(../../img/icon-video.svg);
    background-repeat: no-repeat;
    background-size: 33px, 24px;
  }
}


.production__video-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 260px;
  height: 150px;
}

.production__video {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url(../../img/video-mobile@1x.jpg);
  background-size: 260px 150px;
  background-repeat: no-repeat;
  background-color: $aqua-light;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dpi) {
    background-image: url(../../img/video-mobile@2x.jpg);
  }
}

.production__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 103px;
  height: 78px;
  border: 0;

  background-image: url(../../img/icon-play.svg);
  background-repeat: no-repeat;
  background-size: 103px 78px;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
   
  }
}

.production__description-wrapper {
  margin: 0 auto;
  padding: 35px 0;
  max-width: 260px;
}

@media (min-width: $tablet) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__title {
    padding: 35px 20px 35px 105px;

   &::before {
     left: 40px;
   }
  }

  .production__video-wrapper {
    order: -1;
    width: 668px;
    height: 455px;

  }

  .production__video {
    background-image: url(../../img/video-tablet@1x.jpg);
    background-size: 668px 455px;


    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dpi) {
      background-image: url(../../img/video-tablet@2x.jpg);
    }
  }


  .production__description-wrapper {
    padding: 0 40px 45px 40px;
    max-width: 668px;
  }

  .production__text {
    margin: 0;
    padding-bottom: 45px;

    font-size: 15px;
    line-height: 30px;
  }
  .production__order-button {
    max-width: 582px;
  }

}

@media (min-width: $desktop) {
  .production {
    margin-bottom: 105px;
    padding-left: 682px;
  }

  .production__title {
    padding: 100px 65px 43px 77px;

    &::before {
      top: 66px;
      left: 77px;
    }

  }

  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }

  .production__video {
    background-image: url(../../img/video-desktop@1x.jpg);
    background-size: 682px 455px;


    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dpi) {
      background-image: url(../../img/video-desktop@2x.jpg);
    }
  }

  .production__description-wrapper {
    padding: 0 65px 45px 77px;

  }

}
