.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  margin: 0 5px 0 1px;
}

.social-list__link {
  padding: 17px;
  width: 40px;
  height: 40px;

  &:hover .social-list__icon {
    fill: $aqua-light;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}

@media (min-width: $desktop) {
  .social-list__item {
    margin: 7px 7px 0 0;
  }
}
