.user-nav__link {
  position: relative;
  display: block;
  padding: 30px 30px 30px 75px;
  border-bottom: 1px solid $grey-light;

  &:hover .user-nav__icon {
    fill: $aqua-light;
    opacity: 1;
  }

  &:active .user-nav__icon {
    opacity: 0.3;
  }
}

.user-nav__icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0.2;
}



@media (min-width: $tablet) {
  .user-nav {
    padding-right: 20px;
  }

  .user-nav__item {
    border-left: 1px solid $grey-light;
  }

  .user-nav__link {
    padding: 32px 30px 32px 80px;
    border: none;

    &--search {
      padding: 44px 32px 20px 32px;
    }
  }

  .user-nav__icon--search {
    position: static;
  }


  .user-nav__search-text {
    display: none;
  }

}

@media (min-width: $desktop) {
  .user-nav {
    align-items:stretch;
    width: 450px;
    font-size: 17px;
  }
}
