.weekly-offer {
  position: relative;
  padding-bottom: 62px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 8px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 8px;
  }
}

.weekly-offer__titles {
  display: flex;
  flex-direction: column;
  padding: 23px 0 30px;
}

.weekly-offer__title {
  order: 1;
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $aqua-light;
}

.weekly-offer__description {
  margin: 0 0 17px;
  font-size: 15px;
  color: $grey-dark;
}

.weekly-offer__options {
  margin-bottom: 25px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: $grey-dark;
}

.weekly-offer__cell {
  border-bottom: 1px solid #ececec;
  padding: 10px 23px 8px 0;
}

.weekly-offer__image-wrapper {
  margin: 0 auto 20px;
  width: 260px;
  height: auto;
  background-color: $grey-background;
}

.weekly-offer__price {
  margin: 0 auto 25px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: $grey-dark;
}

@media (min-width: $tablet) {
  .weekly-offer {
    padding-bottom: 115px;

    &::after {
      bottom: 38px;
      height: 15px;
      background-size: 768px 15px;
    }
  }

  .weekly-offer__titles {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 47px 0 0;
  }

  .weekly-offer__title {
    padding-top: 12px;
    max-width: 127px;
    line-height: 17px;
    text-align: center;
  }

  .weekly-offer__wrapper {
    position: relative;
    padding-right: 380px;
  }

  .weekly-offer__description {
    margin-bottom: 32px;
    min-height: 72px;
    font-size: 17px;
    line-height: 30px;
  }

  .weekly-offer__options {
    margin-bottom: 58px;
  }

  .weekly-offer__cell {
    padding: 9px 0 7px;
  }

  .weekly-offer__image-wrapper {
    position: absolute;
    right: 0;
    top: 5px;
    width: 333px;
  }

  .weekly-offer__image {
    display: block;
  }

  .weekly-offer__price {
    margin-bottom: 35px;
    font-size: 20px;
  }
}

@media (min-width: $desktop) {
  .weekly-offer {
    padding-bottom: 148px;

    &::after {
      left: 50px;
      right: 50px;
      bottom: 52px;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
    }
  }

  .weekly-offer__titles {
    justify-content: start;
    margin-bottom: 45px;
    padding: 60px 0 0;
  }

  .weekly-offer__title {
    order: 0;
    padding: 15px 25px;
    min-width: 171px;
  }

  .weekly-offer__wrapper {
    padding: 0 590px 0 175px;
  }

  .weekly-offer__description {
    margin-bottom: 45px;
    font-size: 17px;
  }

  .weekly-offer__options {
    margin-bottom: 110px;
  }

  .weekly-offer__image-wrapper {
    top: -162px;
    z-index: -1;
    width: 525px;
  }

  .weekly-offer__price {
    margin-bottom: 40px;
  }
}
